body {
    background-color: #2f3542;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.button {
    background-color: #ff9f43;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    border-radius: 10px;
    transition: background-color 0.3s, border-radius 0.3s;
    cursor: pointer;
}

.button:hover {

}