body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    position: relative;
}

.panel {
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.panel-heading {
    background-color: #337ab7;
    color: white;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.panel-body {
    padding: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e9ecef;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: fixed;
    top: 50px; /* 与顶部部的距离 */
    right: 20px; /* 与右侧的距离 */
}

.btn:hover {
    background-color: #0056b3;
}

.delete_button {
    background-color: #007bff; /* 设置背景颜色 */
    color: #ffffff; /* 设置文本颜色 */
    padding: 5px 10px; /* 设置内边距 */
    border: none; /* 移除边框 */
    border-radius: 5px; /* 设置圆角 */
    cursor: pointer; /* 设置光标样式为指针 */
}

.delete_button:hover {
    background-color: #cc0000; /* 鼠标悬停时的背景颜色 */
}