body {
            background: url('https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547_1280.jpg') no-repeat;
            background-size: cover;
            height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, sans-serif;
}

.box {
    text-align: center;
}

h1 {
    color: whitesmoke;
    padding: 10px;
    text-align: center;
}

img {
    display: block;
    margin: 20px auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: fixed;
    bottom: 150px; /* 与底部的距离 */
    right: 60px; /* 与右侧的距离 */
}

.btn:hover {
    background-color: #0056b3;
}