<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link rel="stylesheet" type="text/css" href="/static/add.css">
</head>
<body>
<h1>Add Student Information</h1>
<form action="/add" method="POST">
    <label for="student_number">Id:</label>
    <input type="text" id="id" name="id">

    <label for="student_name">Name:</label>
    <input type="text" id="name" name="name">

    <label for="major">Major:</label>
    <input type="text" id="major" name="major">

    <label for="grade">Grade:</label>
    <input type="text" id="year" name="year">

    <label for="math_grade">Advanced mathematics:</label>
    <input type="text" id="math" name="math">

    <label for="physics_grade">College physics:</label>
    <input type="text" id="physics" name="physics">

    <label for="python_grade">Fundamentals of python programming:</label>
    <input type="text" id="python" name="python">

    <input type="submit" value="submit">

    <a href="http://127.0.0.1:5000/admin" class="btn">Return to Admin page</a>
</form>
</body>
</html>