<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <title>Administrator navigation page</title>
    <link rel="stylesheet" type="text/css" href="/static/admin.css">
</head>
<body>

<h1>Administrator navigation page</h1>

<button class="button" onclick="location.href='http://127.0.0.1:5000/display'">Display student information</button>
<button class="button" onclick="location.href='http://127.0.0.1:5000/add'">Add student information</button>
<button class="button" onclick="location.href='http://127.0.0.1:5000/search'">Find student information</button>
<button class="button" onclick="location.href='http://127.0.0.1:5000/delete'">Delete student information</button>
<button class="button" onclick="location.href='http://127.0.0.1:5000/update'">Update student information</button>
<button class="button" onclick="location.href='http://127.0.0.1:5000/sort'">Sort student achievement</button>
<button class="button" onclick="location.href='http://127.0.0.1:5000/graph'">Performance charting</button>

</body>
</html>