<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <title>管理员导航页面</title>
    <link rel="stylesheet" type="text/css" href="/static/admin.css">
</head>
<body>

<h1>管理员导航页面</h1>

<button class="button" onclick="location.href='http://127.0.0.1:5000/display'">展示学生信息</button>
<button class="button" onclick="location.href='http://127.0.0.1:5000/add'">添加学生信息</button>
<button class="button" onclick="location.href='http://127.0.0.1:5000/search'">查找学生信息</button>
<button class="button" onclick="location.href='http://127.0.0.1:5000/delete'">删除学生信息</button>
<button class="button" onclick="location.href='http://127.0.0.1:5000/update'">更新学生信息</button>
<button class="button" onclick="location.href='http://127.0.0.1:5000/sort'">排序学生成绩</button>
<button class="button" onclick="location.href='http://127.0.0.1:5000/graph'">绘制成绩图表</button>

</body>
</html>