<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>学生信息展示</title>
    <link rel="stylesheet" type="text/css" href="/static/display.css">
</head>
<body>
<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Students</h3>
                <a href="http://127.0.0.1:5000/admin" class="btn fixed-button">返回Admin页面</a>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>学号</th>
                            <th>姓名</th>
                            <th>专业</th>
                            <th>年级</th>
                            <th>高等数学</th>
                            <th>大学物理</th>
                            <th>Python程序设计基础</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in content %}
                            <tr>
                                {% for j in i %}
                                    <td>{{ j }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>