<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Display student information</title>
    <link rel="stylesheet" type="text/css" href="/static/display.css">
</head>
<body>
<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Students</h3>
                <a href="http://127.0.0.1:5000/admin" class="btn fixed-button">Return to Admin page</a>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Serial number</th>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Major</th>
                            <th>Grade</th>
                            <th>Advanced mathematics</th>
                            <th>College physics</th>
                            <th>Fundamentals of python programming</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in content %}
                            <tr>
                                {% for j in i %}
                                    <td>{{ j }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>