<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <title>绘图导航页面</title>
    <link rel="stylesheet" type="text/css" href="/static/graph.css">
</head>
<body>

<h1>绘图导航页面</h1>

<button class="button" onclick="location.href='http://127.0.0.1:5000/gragh/math'">高等数学成绩可视化</button>
<button class="button" onclick="location.href='http://127.0.0.1:5000/graph/physics'">大学物理成绩可视化</button>
<button class="button" onclick="location.href='http://127.0.0.1:5000/graph/python'">Python程序设计基础成绩可视化</button>


</body>
</html>

