<html>
<head>
    <meta charset="utf-8">
    <title>log in</title>
    <link rel="stylesheet" type="text/css" href="/static/login.css">
</head>
<body>
<!-- 背景 -->
<div class="background">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>

<div class="Box">
    <h3>Student Management Information System</h3>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Please enter the account number" required>
        <input type="password" name="password" placeholder="Please enter the password" required>
        <p class="forgetPwd">forget the passsword</p>
        <input type="hidden" name="login" value="true"> <!-- 添加隐藏的input元素来表示登录操作 -->
        <input type="submit" class="loginBtn" value="Log in"></button>
        <p class="no">No account? Register now</p>
    </form>
</div>
</body>
</html>