<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>成绩排序页面</title>
    <link rel="stylesheet" type="text/css" href="/static/sort.css">
</head>
<body>
    <h1>请选择要排序哪门学科：</h1>
    <button onclick="window.location.href='/sort/sort_math';">高等数学</button>

    <button onclick="window.location.href='/sort/sort_physics';">大学物理</button>

    <button onclick="window.location.href='/sort/sort_python';">Python程序设计基础</button>

</body>
</html>