<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Student Information</title>
    <link rel="stylesheet" type="text/css" href="/static/update_search.css">
</head>
<body>
<h2>Update Student Information</h2>
<form action="/update" method="POST">
    <label for="student_number">Id:</label>
    <input type="text" id="id" name="id">

    <input type="submit" value="search">

    <a href="http://127.0.0.1:5000/admin" class="btn">Return to Admin page</a>
</form>
</body>
</html>